* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('img/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.main-container {
    background-color: rgba(50, 50, 50, 0.5);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7%;
    padding: 2rem 3rem 3rem;
    color: white;
}

.main-container__header {
    margin-bottom: 0rem;
    font-size: 3.2rem;
}

.status-block {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.status-block__message {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
.status-block__count-down {
    margin: 1rem 0 1.5rem;
    font-size: 2rem;
    border: white solid 1px;
    border-radius: 10%;
    padding: 0.25rem 0.5rem;
}

.main-container__links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 1.4rem;
}

.main-container__link {
    color: white;
}
