* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('img/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    color: white;
}

.header__text{
    margin: auto;
    font-size: 2rem;
}

.content {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
    box-sizing: border-box;
    color: white;
}

.content__block {
    display: flex;
    width: 50%;
    background-color: rgba(50, 50, 50, 0.5);
    margin: auto;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    flex-direction: column;
}

.main-data__line {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5em;
}

.main-data__steps-block {
    border: white solid 1.5px;
    font-size: 1.3rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
}

.main-data__my-result {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}

.my-result__name, .my-result__money {
    display: flex;
}

.my-result__name {
    margin-right: 0.4em;
}

.main-data__other-results {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding-top: 0.5em;
    width: 70%;
    border-top: solid white 1px;
    max-height: 30vh;
    overflow-y: auto;
}

.other-result__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.user-result__num {
    display: flex;
    width: 10%;
    justify-content: flex-end;
}

.user-result__name {
    display: flex;
    width: 60%;
    text-align: left;
    box-sizing: border-box;
    padding-left: 1rem;
}

.user-result__money {
    display: flex;
    width: 30%;
    text-align: left;
}