<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аукцион</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="siteName">Аукцион</h1>
    <div class="container">
        <div class="lots">
            {% for lot in lots %}
                <div class="lot 
                    {% if lot.who_bought is None %}
                        'lot_owner_nobody'
                    {% elif lot.who_bought.name == user.name %}
                        'lot_owner_your'
                    {% elif lot.who_bought.name != user.name %}
                        'lot_owner_not-you'
                    {% elif lot.is_current %}
                        'lot_type_curent'
                    {% end_if %}
                "
                >
                    <div class="lot__number">lot.id</div>
                    <div class="lot__name">lot.name</div>
                    <div class="lot__team">lot.who_bought.name</div>
                    <div class="lot__price">lot.purchase_cost</div>
                </div>
        </div>
        <div class="current-lot">
            <div class="current-lot__line">
                <div class="current-lot__name">{{cur_lot.name}}</div>
            </div>
                <p>от {{cur_lot.min_cost}} до {{cur_lot.max_cost}}</p>
                <form action="./">
                    <label for="rate">Ставка:</label>
                    <input type="number" step="{{price_step}}" name="rate">
                    <input type="submit" value="Ввести">
                </form>
                <div class="current-lot__timer">10</div>
            </div>
        </div>
    </div>
</body>
</html>