<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='auction-page/auction-page_style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="{{url_for('static', filename='javascript/preparing_for_game.js')}}"> -->
        <!-- renderPage({{left_time}}); -->
    <!-- </script> -->
    <title>Power Market</title>
</head>
<body>
    <div class="header">
        <h1 class="header__text">Аукцион (Zergey)</h1>
    </div>
    <div class="content">
        
        <div class="content__cur-lot cur-lot">
            <div class="cur-lot__in">
                <div class="cur-lot__line">
                    <p class="cur-lot__name">Дом</p>
                    <img class="cur-lot__auction-type-img" src="{{url_for('static', filename='auction-page/img/up-auction.png')}}">
                </div>
                <p class="cur-lot__round">Раунд <span class="round_num">1</span></p>

                <p class="cur-lot__price-line">
                    От <span class="cur-lot__min-price">1</span> 
                    до <span class="cur-lot__max-price">10</span>
                </p>

                <div class="cur-lot__bid-form">
                    <div class="bid-form__line">
                        <label class="bid-form__bid-lable" for="bid_space">Ставка:</label>
                        <input class="bid-form__bid-space" type="number" min="5" max="10" step="{{price_step}}" name="bid_space">
                    </div>
                    <div class="bid-form__line">
                        <input class="bid-form__but" id="make_bid_but" type="button" value="Сделать ставку">
                        <input class="bid-form__but" id="pass_but" type="button" value="Пас">
                        <input class="bid-form__but" id="change_bid_but" type="button" value="Изменить ставку">
                    </div>
                </div>
            </div>
        </div>
        <div class="content__lots lots">
            <div class="lots__container">
                {% for lot in lots %}
                    <div class="lot
                        {% if lot.is_current %}
                            lot_lot-type_cur-lot
                        {% elif lot.who_bought is none %}

                        {% elif lot.who_bought.name == user.name %}
                            lot_lot-type_your-lot
                        {% elif lot.who_bought.name != user.name %}
                            lot_lot-type_not-your-lot
                        {% endif %}
                    ">
                        <p class="lot__name">{{lot.name}}</p>
                        <div class="lot__icon">
                            <img class="lot__icon-in" src="
                                {% if lot.lot_type == 'consumer' %}
                                    {{url_for('static', filename='auction-page/img/home_icon.png')}}
                                {% else %}
                                    {{url_for('static', filename='auction-page/img/ses_icon.png')}}
                                {% endif %}
                            ">
                        </div>
                        <p class="lot__team">
                            {% if lot.is_current == True or lot.who_bought is none %}
                            -
                            {% else %}
                                {{lot.who_bought.name}}
                            {% endif %}
                        </p>
                        <p class="lot__price">
                            {% if lot.is_current == True or lot.who_bought is none %}
                                0
                            {% else %}
                                {{lot.purchase_cost}}
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}
                <div class="meta-lot"></div>
            </div>
        </div>
    </div>
</body>
</html>