<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аукцион</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='auction_style.css')}}">
</head>
<body>
    <h1 class="siteName">Аукцион</h1>
    <div class="container">
        <div class="lots">
            {% for lot in lots %}
                <div class="lot 
                    {% if lot.is_current %}
                        lot_type_current
                    {% elif lot.who_bought is none %}
                        lot_owner_nobody
                    {% elif lot.who_bought.name == user.name %}
                        lot_owner_your
                    {% elif lot.who_bought.name != user.name %}
                        lot_owner_not-you
                    {% endif %}
                "
                >
                    <div class="lot__number">{{lot.id}})</div>
                    <div class="lot__name">{{lot.name}}</div>
                    <div class="lot__team">
                        {% if lot.is_current == True or lot.who_bought is none %}
                            -
                        {% else %}
                            {{lot.who_bought.name}}
                        {% endif %}
                    </div>
                    <div class="lot__price">
                        {% if lot.is_current == True or lot.who_bought is none %}
                            0
                        {% else %}
                            {{lot.purchase_cost}}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="current-lot">
            <div class="current-lot__line">
                <div class="current-lot__id">
                    <span class="cur_lot_id">{{cur_lot.id}}</span>)
                </div>
                <div class="current-lot__name">{{cur_lot.name}}</div>
            </div>
                <p>
                    от <span class="min_cost">{{cur_lot.min_cost}}</span> до
                    <span class="max_cost">{{cur_lot.max_cost}}</span>
                </p>
                <form id="bet_form" onsubmit="return false">
                    <label for="bet_space">Ставка:</label>
                    <input class="form__bet-space" type="number" step="{{price_step}}" name="bet_space">
                    <input class="form__submit" type="submit" value="Ввести">
                </form>
                <div class="current-lot__timer">10</div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='javascript/auction.js')}}"></script>
</body>
</html>