<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='index-page/index-page_style.css')}}">
    <title>Power Market</title>
</head>
<body>
    <div class="main-container">
        <h1 class="main-container__header">Power Market</h1>
        <a class="main-container__registration-button" href="./registration">Регистрация</a>
    </div>
</body>
</html>