<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ожидание игроков</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='javascript/waiting_template.js')}}"></script>
</head>
<body>
    <h1>Вы успешно подключены <br><span id = 'header_text'>Ожидание других игроков</span></h1>
    <p>Ваше имя: <b>{{user_name}}</b></p>
    <p>Подключено <span id = 'current_players_count'>{{current_players_count}}</span> / <span id = 'need_players_count'>{{need_players_count}}</span></p>
    
    <div id = 'count_down_block' style = 'display: none; font-size: 3em;'>
        Игра начнется через <span id = 'count_down'>10</span>
    </div>
</body>
</html>