<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ожидание игроков</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        var fnc = setInterval(function(){
            $.ajax({
                method: "GET",
                url: "api/check_for_waiting"
            }).done(function (response) {
                    console.log(response);
                    $('#current_players_count').text(response.current_players_count);
                    $('#need_players_count').text(response.need_players_count);
                    if (response.is_count_down_before_preparing) {
                        $('#header_text').text('Игра скоро начнется');
                        clearInterval(fnc);
                        startCountDown(response.left_time);
                    }
            })
        }, 300);

        function tikTak(left_time) {
                $('#count_down').text(left_time);
                console.log(left_time)
                if (left_time > 0) {
                    setTimeout(tikTak, 1000, left_time - 1);
                }
                else {
                    window.location.href = '/preparing_for_game';
                }
        }

        function startCountDown(left_time) {
            $('#count_down_block').css('display', 'block');
            tikTak(left_time);
        }
    </script>
</head>
<body>
    <h1>Вы успешно подключены <br><span id = 'header_text'>Ожидание других игроков</span></h1>
    <p>Ваше имя: <b>{{user_name}}</b></p>
    <p>Подключено <span id = 'current_players_count'>{{current_players_count}}</span> / <span id = 'need_players_count'>{{need_players_count}}</span></p>
    
    <div id = 'count_down_block' style = 'display: none; font-size: 3em;'>
        Игра начнется через <span id = 'count_down'>10</span>
    </div>
</body>
</html>